---
// Simple three-color stripe divider used under hero sections
---
<div class="w-full">
  <div class="h-1 w-full bg-wp-blue"></div>
  <div class="h-1 w-full bg-wp-red"></div>
  <div class="h-1 w-full bg-wp-gold"></div>
</div>
